.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #ffffff !important;  /* 배경색을 흰색으로 강제 */
    color: #333 !important;  /* 텍스트 색상을 검정색으로 강제 */
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@font-face {
  font-family: 'Elice_bold';
  src: url('./styles/font/EliceDigitalBaeum_Bold.ttf');
}

@font-face {
  font-family: 'Elice_regular';
  src: url('./styles/font/EliceDigitalBaeum_Regular.ttf');
}

@font-face {
  font-family: 'Kyobo_handwriting';
  src: url('./styles/font/Kyobo\ Handwriting\ 2019.ttf');
}

@font-face {
  font-family: 'Gmarket_light';
  src: url('./styles/font/GmarketSansTTFLight.ttf');
}

@font-face {
  font-family: 'Gmarket_Medium';
  src: url('./styles/font/GmarketSansTTFMedium.ttf');
}

@font-face {
  font-family: 'Gmarket_bold';
  src: url('./styles/font/GmarketSansTTFBold.ttf');
}
